.statisticksList{
  background: repeating-linear-gradient(45deg,#fdfdfd,#fdfdfd00 175px);
  border-radius: 15px;
  padding: 15px;
}

.statisticksItem{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  border-bottom-style: double;
}

