.button {
  border-color: #fff;
  border-radius: 5px;
  color: #e1ecff;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  padding: 5px 10px;
  font-family: cursive;
  background: #494949;
  border: groove;
}
.buttonTable{
  display: flex;
  justify-content: space-evenly;
}